* {
    background-color: lightblue;
}

.header{
    color: black;
    text-align: center;
    font-size: 48px;
}

.recipes{

    color: black;
    font-size: 24px;
}

.food-pic{
    height: 200px;
    width: 200px;
}